<h1><%= @animal.name %></h1> 
<p>
  Scientific Name: <%= @animal.scientific_name %><br>
  Size: <%= @animal.size %><br>
  IUCN Category: <%= @animal.iucn_category %><br>
  Population Trend: <%= @animal.population_trend %><br>
  Area: <%= @animal.area %><br>
</p>
